// css header
.header {
  // --heighheader: 70px;
  height: 140px;
  display: contents;

  @include xs {
    height: auto;
    position: fixed;
    display: block;
    top: 0px;
    z-index: 100;

    width: 100%;
  }
  .header__top {
    background-color: $gray-cl;
    height: 50%;
    display: flex;
    // position: fixed;

    @include xs {
      // height: 60px;
      // position: fixed;
      // width: 100%;
      // z-index: 1;
      // width: 100%;
      // position: fixed;
      // left: 0;
      // top: 0;
      // z-index: 10
      // sao m fix nguyen cuc do r
    }
    .container {
      height: initial;
      border-bottom: none;
      @include flex;
      .humbeger {
        // display: none;
        z-index: 100;
        @include xs {
          width: 20px;
          display: block;

          cursor: pointer;
          span {
            // width: 100%;
            height: 2px;
            display: block;
            background-color: $yellow-cl;
            margin: 5px auto;
            width: 20px;
            @include transition(0.3s);
          }
          &:before,
          &:after {
            content: "";
            width: 20px;
            height: 2px;
            display: block;
            background-color: $yellow-cl;
            margin: 5px auto;
            @include transform(rotate(0deg) translateY(0px));
            @include transition(0.3s);
          }
        }
        &.active {
          &:before {
            @include transform(rotate(45deg) translate(6px, 1px));
            transition: 0.3s;
          }
          span {
            opacity: 0;
            transition: 0.3s;
          }
          &:after {
            @include transform(rotate(-45deg) translate(9px, -4px));
            transition: 0.3s;
          }
        }
      }

      .logo {
        padding: 15px 0px;
        @include xs {
          padding-top: 10px;
          padding-bottom: 10px;
          width: 35px;
        }
        a {
          display: flex;
          align-items: center;
          img {
            max-width: 44px;
            max-height: 44px;
            @include xs {
              max-width: 35px;
              max-height: 35px;
            }
          }
        }
      }
    }
  }
  .header__wrap {
    .container {
      height: 50%;
      border-bottom: 1px solid $black-line-cl;
      @include xs {
        display: none;
      }
      .header__bot {
        padding-top: 40px;
        padding-bottom: 10px;

        // border-bottom: 1px solid $black-line-cl;
        // width: 100%;
        // position: fixed;
        // left: 0;
        // top: 60px;

        // z-index: 100;
        a {
          color: $black-cl;
        }
        @include header;
        //   @include flex;
        display: flex;
        justify-content: space-between;
        .menu {
          @include flex;
          li {
            a {
              color: $black-cl;
              margin: 30px;
            }
          }
        }
      }
    }
    &.active {
      position: fixed;
      background-color: $yellow-cl;
      top: 0;
      width: 100%;
      left: 0;
      z-index: 100;
      .container {
        border-bottom: none;
      }
    }
  }
}
.nav {
  display: none;
  &.active {
    -ms-overflow-style: none;
    scrollbar-height: none;
    left: 0;
    opacity: 1;
    pointer-events: auto;
    @include transition(0.3s);
  }
  @include xs {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: $yellow-cl;
    z-index: 9;
    top: 0;
    left: 0;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    left: -900px;
    @include transition(0.3s);

    ul {
      //   flex-direction: column;
      //   @include mid;
      //   li {
      //     margin: 15px auto;
      text-align: center;

      // margin-top: 120px;
      // margin-left: 30px;
      li {
        margin: 15px auto;
        margin-bottom: 30px;
        a {
          // @include header;
          @include welcomtext;
          font-size: 20px;
          top: 50%;
          color: $gray-cl;
          letter-spacing: 0.8px;
          &:hover {
            color: $white-cl;
          }
        }
      }
    }
  }
}

// .nav {
//   display: none;
//   &.active {
//     left: 0;
//     opacity: 1;
//     pointer-events: auto;
//     @include transition(0.3s);
//   }
//   @include sm {
//     display: block;
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     background-color: $yellow-cl;
//     z-index: 9;
//     top: 0;
//     left: 0;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     opacity: 0;
//     left: -900px;
//     @include transition(0.3s);
//     ul {
//       line-height: 40px;
//       text-align: center;
//       a {
//         text-decoration: none;
//         font-size: 15px;
//         font-family: "pb";
//         color: black;
//         &:hover {
//           color: #525355;
//           transition: $t;
//         }
//       }
//     }
//   }
// }

// .sidenav {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   background-color: #111;
//   overflow-x: hidden;
//   transition: 0.5s;
//   padding-top: 60px;
// }

// .sidenav a {
//   padding: 8px 8px 8px 32px;
//   text-decoration: none;
//   font-size: 25px;
//   color: #818181;
//   display: block;
//   transition: 0.3s;
// }

// .sidenav a:hover {
//   color: #f1f1f1;
// }

// .sidenav .closebtn {
//   position: absolute;
//   top: 0;
//   right: 25px;
//   font-size: 36px;
//   margin-left: 50px;
// }
